/*
  main elements like html, dropbox and loader
*/

html{
  margin: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  overflow-y: hidden; /*important as otherwise size is somehow scrollable which is not desired */
  font-family: 'Roboto', sans-serif;
}

body{
  margin: 0px;
  padding: 0px;
}

/*box to drop file */
#dropbox {
  position: absolute;
  left: 10px;
  top: 10px;
  border: 1px dashed #0F73BD;
  border-radius: 20px;
  width: 200px;
  padding: 5px;
  padding-top: 15px;
  text-align: center;
  cursor: pointer;
  height: 150px;
}

#dropbox.highlight {
  background: #0F73BD;
  opacity: 0.5;
  /*background: green;*/
  /*border-color: red;*/
}

/*box for link to github */
#linkBox {
  position: absolute;
  bottom:5px;
  right: 10px;
  font-size: small;
  padding: 2px;
  text-align: center;
  z-index: 2;
}

#settingsBox{
  position: absolute;
  right: 10px;
  top: 10px;
}

#btn_settings{
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

#infoBox{
  position: absolute;
  right: 130px;
  top: 10px;
  height: 40px;
  border: 1px solid black ; /* Remove borders */
  outline: none;
}

#information{
  display: block;
  position: absolute;
  border: 1px solid darkgray;
  padding: 5px;
  box-shadow: 10px 10px 23px 0px rgba(158,158,158,1);
  z-index: 2;
  background-color: white;
  height: 510px;
  width: 350px;
  left: calc(50% - 175px);
  top: 150px;
}

#informationCaption{
  font-size: 18px;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  border-bottom: 1px solid lightgray;
  margin-right: 10px;
}

#informationCloseButton{
  float: right;
  margin: 5px;
  cursor: pointer;
}

#informationContent{
  padding-left: 13px;
  padding-right: 13px;
  font-size: 15px;
  line-height: 20px;
}

#informationContent li{
  margin-bottom: 10px;
}

#txt_info2{
  display: inline;
}

#btn_help{
  background-color: White; /* Blue background */
  border: none;
  color: black; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 14px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

#btn_help:hover{
  background-color: lightgray;
}

#overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: white;
  opacity: 50%;
  z-index: -1;
}

#warning_js{
  position: absolute;
  top: 40%;
  width: 300px;
  left: calc(50% - 150px);
}

.boxIcon{
  margin-left: -5px;
  margin-right: 5px;
}

#navigation{
  display: block;
  position: absolute;
  top: 0px;
  height: 30px;
  border: 1px solid lightgray;
  padding: 5px;
  width: 348px;
  left: calc(50% - 176px);
  border-top: none;
  background-color: white;
}

.naviButton{
  width: 40px;
  height: 30px;
  background: white;
  border: none;
  border-right: 1px solid lightgray;
  cursor: pointer;
}

.naviButton:hover{
  background: lightgray;
}

.naviButtonLast{
  border: none !important;
}

#logger{
  position: absolute;
  width: 600px;
  left: calc(50% - 297px);
  height: 149px;
  bottom: 0px;
  background-color: black;
  color: white;
  opacity: 0.2;
  padding: 6px;
  font-family: "Courier New";
  font-size: smaller;
  overflow: auto;
}

#logger:hover{
  opacity: 1;
}
