#filesBox{
  position: absolute;
  width: 220px;
  min-width: 220px;
  height: 150px;
  top: 200px;
  background-color: white;
  border: 1px solid gray;
  resize: horizontal;
  overflow: auto;
}

#filesCaption{
  font-size: 18px;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  border-bottom: 1px solid lightgray;
  margin-right: 10px;
}

#filesHideButton{
  float: right;
  margin: 5px;
  margin-right: -5px
}

#filesTree{
  list-style: none;
  padding-left: 10px;
}

.td_files_check{
  width: 30px;
}

#objectsBox{
  position: absolute;
  width: 220px;
  min-width: 220px;
  height: 400px;
  top: 373px;
  background-color: white;
  border: 1px solid gray;
  resize: horizontal;
  overflow: auto;
}

#objectsCaption{
  font-size: 18px;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  border-bottom: 1px solid lightgray;
  margin-right: 10px;
}

#objectsContent{
  overflow: auto;
  height: calc(100% - 31px);
  width: 100%;
}

#objectsTree{
  list-style: none;
  padding-left: 10px;
  margin-top:10px;
  font-size: small;
}

#attributesBox{
  position: absolute;
  background-color: white;
  top: 200px;
  right: 0px;
  min-width: 220px;
  width: 200px;
  overflow: auto;
  resize: horizontal;
  border: 1px solid darkgray;
  height: 400px;
  direction: rtl;
}

#attributesCaption{
  font-size: 18px;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  border-bottom: 1px solid lightgray;
  margin-right: 10px;
  direction: ltr;
}

.td_attribute_key{
  font-size: small;
  width: 50%;
  direction: ltr;
}

.td_attribute_value{
  font-size: small;
  width: 50%;
  direction: ltr;
}

.td_objects_check{
  width: 30px;
}
.td_objects_icon{
  width: 30px;
}

.td_objects_text{
  font-size: small;
  cursor: pointer;
}



.btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

#statisticsMenu{
  display: block;
    top: 100px;
    left: calc(50% - 130px);
    width: 250px;
    position: absolute;
    background-color: white;
    padding: 5px;
    padding-bottom: 15px;
    box-shadow: 10px 10px 23px 0px rgba(158,158,158,1);
    border: 1px solid darkgray;
}

.td_field{
  font-weight: bold;
}

.td_val{
  color: darkslategray;
}

th, td {
  border-bottom: 1px solid #ddd;
  height: 30px;
  width: 100%;
}

tr:hover {background-color: #f5f5f5;}
