#files{
  position: absolute;
  left: 0px;
  border: 1px solid lightgray;
  min-width: 210px;
  width: 210px;
  max-width: 40%;
  resize: horizontal;
  background-color: white;
  overflow: auto;
}

.filesSmall{
  width: 30px !important;
  min-width: 30px !important;
  resize: none !important;
}

#filesTable{
  table-layout: fixed;
}

#objects{
  position: absolute;
  left: 0px;
  border: 1px solid lightgray;
  min-width: 210px;
  width: 210px;
  max-width: 40%;
  resize: horizontal;
  background-color: white;
  overflow: auto;
}

.objectsSmall{
  width: 30px !important;
  min-width: 30px !important;
  resize: none !important;
}

#objectsTable{
  table-layout: fixed;
}

#objectsTable .td_text{
  font-size: 11px;
  line-height: 20px;
}

#attributes{
  position: absolute;
  right: 0px;
  border: 1px solid lightgray;
  min-width: 210px;
  width: 210px;
  max-width: 40%;
  resize: horizontal;
  background-color: white;
  display: flex;
  flex-direction: column;
  direction: rtl;
  overflow: auto;
}

#attributesLTR{
  direction: ltr;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: inherit;
}

#attributesTable{
  table-layout: fixed;
}

.attributes_warning{
  color: gray;
  line-height: 30px;
  margin: 15px;
  font-size: smaller;
}

.menu_caption{
  line-height: 25px;
  height: 25px;
  border-bottom: 1px solid lightgray;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.menu_caption_large{
  height: 50px !important;
}

.menu_caption_hidden{
  height: 25px !important;
}

.txt_caption_rotated{
  transform: rotate(-90deg);
  transform-origin: left bottom;
  text-align: center;
  position: absolute;
  color: gray;
  height: 30px;
  left: 30px;
  margin-top: 85px;
}

.box_input{
  width: 100%;
  left: 0px;
  border: none;
  padding-right: 8px;
  color: #797878;
}

.box_input:focus{
  outline: none;
}

.box_i_search{
  float: right;
  margin-top: -20px;
  margin-right: 20px;
  cursor: pointer;
}

.box_i_hide {
  float: right;
  margin-top: -20px;
  margin-right: -5px;
  cursor: pointer;
}

.box_i_hide_hidden{
  margin-top: 5px !important;
  margin-right: -3px;
}

.box_largeCaption{
  margin-top: -45px;
}

.menu_content{
  height: calc(100% - 36px);
  overflow: auto;
}

.menu_content_small{
  height: calc(100% - 61px);
}

.menu_table{
  line-height: 30px;
  width: 100%;
  font-size: smaller;
  padding-left: 3px;
  padding-right: 3px;
}

.menu_table tr:hover{
  background-color: #f1f1f1;
}

.menu_table td{
  border-bottom: 1px dashed lightgray
}

.td_disabled{
  color: gray !important;
  cursor: default !important;
}

.td_input{
  width: calc(100% - 10px);
  border: none;
  background: transparent;
}

.td_input:focus{
  border: none;
}

.td_toggle{
  width: 10px;
}

.td_checkBox{
  width: 22px;
}

.td_icon{
  width: 22px;
}

.td_text{
  width: calc(100% - 72px);
  cursor: pointer;
  word-break: break-all;
}

.td_type{
  width: 32px;
}

.td_status{
  width: 20px;
}

.td_status i{
  margin: 3px;
}

.td_key{
  width: 50%;
  word-break: break-all;
  font-size: 11px;
}

.td_attr{
  width: 50%;
  word-break: break-all;
  font-size: 11px;
}

.fileType{
  color: black;
  font-size: x-small;
  vertical-align: middle;
  border: 1px solid gray;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 15px;
}

.fileStatus{
  color: black;
}
